@import url(base.css);

nav{
    /* background-color: blue; */
    display: flex;
    width: 98%;
    height: 4em;
    margin: 5px auto;
    border: solid 1px;
    align-items: center;
}


.containerBox2{
    display: flex;
    
    width: 15%;
    height: 4em;
    align-items: center;
    /* background-color: azure; */
    margin-inline-start: auto;
    
    
}
.containerBox2 img{
    width: 50px;
    margin-right: 10px;
}
.containerBox2 .datesuser{
    line-height: 1.5em;
}
 .asdas{
   background-color: aquamarine;
}
.logo{
    /* background-color: bisque; */
    border: solid 1px;
    width: 12%;
    height: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.container1{
    /* background-color: beige; */
    height: 2em;
    margin-left: 2em;
    align-items: center;
    display: flex;
    border: solid 1px;
    padding-left: 1em;
    width: 50%;
}

.menu-desplegable{
    position: absolute;
    display: none;
    width: 200px;
    margin-top: 8em;
    height: 4em;
    border: solid 1px;
    text-align: center;
}

.containerBox2:hover .menu-desplegable{
    display: block;
}